<p class="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>





<%= link_to user_post_path(@post.user_id, @post), method: :delete, data: { confirm: "Are you sure?" }, class: 'glyphicon glyphicon-remove' do %>
<i class="glyphicon glyphicon"></i>
<% end %>

<%= link_to new_user_post_path(@user), class: 'glyphicon glyphicon-comment' do %>
<i class="glyphicon glyphicon"></i>
<% end %> 

<%= link_to users_path(@user), class: 'glyphicon glyphicon-user' do %>
<i class="glyphicon glyphicon"></i>
<% end %>


<%= link_to :back, class: 'glyphicon glyphicon-arrow-left' do %>
<i class="glyphicon glyphicon"></i>
<% end %>
