<p class="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>



<%= link_to user_post_path(@post.user_id, @post), method: :delete { confirm: "Are you sure?" }, class: 'btn btn-default' do %>
<i class="glyphicon glyphicon"></i> Delete Post
<% end %>

<%= link_to new_user_post_path(@user), class: 'btn btn-default' do %>
<i class="glyphicon glyphicon"></i> New Post
<% end %> 

<%= link_to users_path(@user), class: 'btn btn-default' do %>
<i class="glyphicon glyphicon"></i> Users
<% end %>


<%= link_to :back, class: 'btn btn-default' do %>
<i class="glyphicon glyphicon"></i> Back
<% end %>
